.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-22 {
  font-size: 22px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-28 {
  font-size: 28px;
}

.fz-30 {
  font-size: 30px;
}

.h70px {
  height: 70px;
}

.h320px {
  height: 320px;
}

.h650px {
  height: 650px;
}

.w40px {
  width: 40px;
}

.w290px {
  width: 290px;
}

.w500px {
  width: 500px;
}

a {
  text-decoration: none;
  color: #000;
}

.banner-title {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.slide-btns {
  position: absolute;
  bottom: -15%;
}

.carousel-indicators [data-bs-target] {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2392156863);
  border: none;
  border-radius: 5px;
  margin-right: 8px;
  margin-left: 8px;
  transition: all 0.3s ease;
}

.carousel-indicators .slide-btn.active {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.6784313725);
}

.control-btn {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #000;
  top: 45%;
  opacity: 0;
}

.control-btn:hover {
  opacity: 1;
}

.carousel-control-prev {
  left: unset;
  right: 80px;
}

.login {
  position: absolute;
  z-index: 1;
  top: 3%;
  right: 3%;
  width: 55px;
  height: 24px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  color: #0DCAF0;
  transition: all 0.3s ease;
}

.login:hover {
  background-color: #0DCAF0;
  color: #fff;
}

.logo {
  position: absolute;
  top: 3%;
  left: 10px;
  z-index: 1;
}

.nav-list {
  background-color: rgba(229, 229, 229, 0.5254901961);
  margin-top: 260px;
}

.nav-text {
  opacity: 0;
}

.nav-icon {
  transition: all 0.3s ease;
}

.nav-icon:hover {
  background-color: #fff;
}
.nav-icon:hover .nav-text {
  opacity: 1;
}

.news {
  margin-top: 80px;
  margin-left: 80px;
}

.tag-box {
  height: 22px;
  background-color: rgba(80, 80, 80, 0.3137254902);
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
}

.tag-box:hover {
  transform: scale(1.2);
}

.fa-tag {
  color: rgba(80, 80, 80, 0.3137254902);
  transition: all 0.3s ease;
}

.fa-tag:hover {
  color: rgba(80, 80, 80, 0.8862745098);
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-title:hover {
  text-decoration: underline;
}

.fa-bookmark {
  transition: all 0.3s ease;
}

.fa-bookmark:hover {
  transform: scale(1.5);
}

.news-img {
  transition: all 0.3s ease;
}

.news-img:hover {
  transform: scale(1.2);
}